
@media print {

.credits {
display: none;
}

.wrap img {
width:auto;
height:100%;
margin: 0;
overflow: hidden;
size: contain;
}

section.cd-section > div.wrap {
    opacity: 1 !important;
    box-shadow: none !important;
    transform: none !important;
    width: 210 mm important;
    height: 297 mm important;
    page-break-before: always !important;
}

.wrap {
width: 210 mm important;
height: 297 mm important;
}


}