
@media print {

.cd-section {
margin: 4cm 3cm 2cm 3cm;
}

.tekst {
    page-break-before: always;
}

.credits {
display: none;
}

.wrap img {
width:auto;
height:100%;
margin: 0;
overflow: hidden;
size: contain;
}

section.cd-section > div.wrap {
    opacity: 1 !important;
    box-shadow: none !important;
    transform: none !important;
}


}