/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {

}

body {
   background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 250px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #000000;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media screen (min-width: 250px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ffea00;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff2603;
}
::-webkit-scrollbar-thumb:active {
  background: #ffe700;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.list {
position: fixed;
font-family: 'Source Sans Pro', sans-serif;
position: fixed;
    bottom: 15px;
    text-align: right;
    right: 30px;
    width: 250px;
    font-size: 10px;
    line-height: 10pt;
    padding-left: 15px;
}

.cd-vertical-nav li {
    list-style-type: none;
}

.cd-vertical-nav a {
text-decoration: none;
 color: #000000;
}

.cd-vertical-nav a:hover {
text-decoration: none;
 color: red;
}

.credits li {
    list-style-type: none;
}

.credits a {
text-decoration: none;
 color: #000000;
}

.credits a:hover {
text-decoration: none;
 color: red;
}
.wrap {
height: 100%;
width:100%;
}

.photo img {
width: auto;
height: 100%;
margin: 0;
position: absolute;
display: block;
z-index: -1;
}

.intro {
width: 100%;
height: 100%;
}

.intro img{
height: 100%;
width: 100%;
}

.tussenkop {
font-family: 'Source Sans Pro', sans-serif;
margin: 10%;
width: 80%;
color: #FFFFFF;
background: #000000;
}

.tussenkop h1{
Font-size: 9vw;
Font-weight: 600;
line-height: normal;
}

.tussenkop p{
Font-size: 2vw;
Font-weight: 300;
}


.cd-vertical-nav {
  /* lateral navigation */
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  z-index: 1;
  right: 20px;
  display: none;
  bottom : 15px;
}

.cd-vertical-nav li {
    text-align: right;
    width: 250px;
    font-size: 10px;
  	white-space: nowrap;
}

.credits {
 -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: right bottom;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    bottom: 14px;
    text-align: right;
    right: 15px;
    width: 250px;
    font-size: 10px;
    line-height: 10pt;
    padding-left: 15px;
    z-index: 9999;
    }

.source_hover .hidden {
	display: none;
}

/*bronicoon*/
.source_hover { 
	color: #000000;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	display:inline;
	cursor:pointer;
	z-index:2;	
}

.source_hover:hover:after { 
	font-size:4vw;
	margin-top: 15%;
	width: 100%;
	background:#ffea00;
	color:#000000;
	position: absolute;
	top:15px;
	left:15px;
	content: attr(data-bron); /*tekst in html!!!*/
}

.tekst-tussen {
font-size: 1.5vw;
font-family: 'Libre Baskerville', serif;
color: #000000;
height: 80%;
overflow-x: auto;
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-webkit-column-width: 300px;
column-count: 2;
-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
column-gap: 40px;
line-height: normal;
padding-bottom:20px;
margin:5%;
}


.tekst {
font-size: 15px;
font-family:  'Source Sans Pro', sans-serif;
color: #000000;
height: 80%;
overflow-x: auto;
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-webkit-column-width: 350px;
column-count: 2;
-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
column-gap: 40px;
line-height: normal;
padding-bottom:20px;
margin:5%;
}

.quote {
padding-left: 50px;
position: inherit;
}


.tekst img {
width: 100%;
height: auto;
}

.tekst h2 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
line-height: 30px;
width: 100%;
font-size: 19px;
}


.cd-section {
  height: 100vh;
  vertical-align: middle;
}

.cd-section:first-of-type > div {
  background-color: #FFFFFF;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  position: fixed;
  width: 100%;
  height: 100%
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cd-section:nth-of-type(2) > div {
  background-color: #000000;
}

[data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-animation="opacity"] .cd-section:nth-of-type(1) > div {
  background-image: url("../img/Cover-2.gif");
}
 
[data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/Visueel protest> beelden/polish.jpg");
}

[data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/Visueel protest> beelden/occupy.jpg");
}

[data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/Visueel protest> beelden/charlie.jpg");
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-animation="opacity"] .cd-section:nth-of-type(6) > div {
  background-image: url("../img/Visueel protest> beelden/umbrella.jpg");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-animation="opacity"] .cd-section:nth-of-type(6) > div {
  background-image: url("../img/Visueel protest> beelden/pussy.jpg");
}

[data-animation="opacity"] .cd-section:nth-of-type(11) > div {
  background-image: url("../img/wat/gasmasker.png");
}
[data-animation="opacity"] .cd-section:nth-of-type(12) > div {
  background-image: url("../img/wat/gezi.jpg");
}

[data-animation="opacity"] .cd-section:nth-of-type(13) > div {
  background-image: url("../img/wat/umbrella.jpg");
}

[data-animation="opacity"] .cd-section:nth-of-type(17) > div {
  background-image: url("../img/pools/pools2.jpg");
}

[data-animation="opacity"] .cd-section:nth-of-type(19) > div {
  background-image: url("../img/pools/pools.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(20) > div {
  background-image: url("../img/pools/pools4.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(22) > div {
  background-image: url("../img/occupy/occupy.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(24) > div {
  background-image: url("../img/occupy/gezi.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(25) > div {
  background-image: url("../img/occupy/Gezi2.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(27) > div {
  background-image: url("../img/occupy/gezi3.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(28) > div {
  background-image: url("../img/occupy/gezi4.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(29) > div {
  background-image: url("../img/occupy/gezi6.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(30) > div {
  background-image: url("../img/occupy/gezi5.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(31) > div {
  background-image: url("../img/charlie/charlie1.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(33) > div {
  background-image: url("../img/charlie/charlie4.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(35) > div {
  background-image: url("../img/charlie/charlie.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(36) > div {
  background-image: url("../img/charlie/charlie2.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(37) > div {
  background-image: url("../img/charlie/charlie3.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(38) > div {
  background-image: url("../img/umbrella/umbreall4.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(40) > div {
  background-image: url("../img/umbrella/2.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(42) > div {
  background-image: url("../img/umbrella/umbrella4 kopie.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(43) > div {
  background-image: url("../img/umbrella/umbrella3.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(44) > div {
  background-image: url("../img/umbrella/umbrella2.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(45) > div {
  background-image: url("../img/umbrella/umbrella1.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(46) > div {
  background-image: url("../img/pussy/riot2-1.png");
}
[data-animation="opacity"] .cd-section:nth-of-type(47) > div {
  background-image: url("../img/pussy/riot3.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(49) > div {
  background-image: url("../img/pussy/riot7.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(51) > div {
  background-image: url("../img/pussy/riot4.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(52) > div {
  background-image: url("../img/pussy/1.jpg");
}
[data-animation="opacity"] .cd-section:nth-of-type(53) > div {
  background-image: url("../img/pussy/riot.jpg");
}


@media screen and (min-width: 250px) {

  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
 
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media screen and (min-width: 250px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media screen and (min-width: 250px) {
  .cd-section > div {
    position: fixed;
    bottom: 0;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
}
@media screen and (min-width: 250px) {
  .cd-vertical-nav {
    display: block;
  }
}

@media screen and (max-width: 500px) {

.tekst-tussen {
font-size: 3.5vw;
font-family: 'Libre Baskerville', serif;
color: #000000;
overflow-x: auto;
line-height: normal;
margin:5%;
}

.tekst {
font-size: 15px;
font-family:  'Source Sans Pro', sans-serif;
color: #000000;
-webkit-column-count: 1; /* Chrome, Safari, Opera */
-webkit-column-width: 350px;
column-count: 1;
overflow-x: auto;
line-height: normal;
padding-bottom: 0px;

margin:5%;
}


.tussenkop h1{
Font-size: 20vw;
Font-weight: 600;
line-height: normal;
}

.tussenkop p{
Font-size: 5vw;
Font-weight: 300;
}

}

@media screen and (min-width: 1300px) {
.tekst {
font-size: 15px;
font-family:  'Source Sans Pro', sans-serif;
color: #000000;
height: 80%;
overflow-x: auto;
-webkit-column-count: 3; /* Chrome, Safari, Opera */
-webkit-column-width: 350px;
column-count: 3;
-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
column-gap: 40px;
line-height: normal;
padding-bottom:20px;
margin:5%;
}
}


